Source: helma1
Section: web
Priority: optional
Maintainer: Hannes Wallnoefer <hannes@helma.at>
Build-Depends: debhelper (>= 7), default-jdk, cdbs
Build-Depends-Indep: ant
Standards-Version: 3.7.3
Homepage: http://www.helma.org/

Package: helma1
Architecture: all
Depends: default-jre-headless | java2-runtime-headless | 
  java5-runtime-headless | sun-java5-jre | system-java, 
  jsvc, adduser, lsb-base (>= 3)
Description: A server-side JavaScript web application framework.
 .
 Helma is an open-source JavaScript framework written in Java. 
 It uses the Mozilla Rhino JavaScript engine to provide
 a comprehensive framework for web application development.

Package: helma1-swarm
Section: web
Architecture: all
Depends: helma1 (>= ${source:Version})
Description: A cluster extension for the Helma web framework.
 .
 Helma is an open-source JavaScript framework written in Java.
 It uses the Mozilla Rhino JavaScript engine to provide
 a comprehensive framework for web application development.
 .
 This package contains HelmaSwarm, a cluster extension based
 on JGroups.

Package: helma1-docs
Section: doc
Architecture: all
Depends: helma1 (>= ${source:Version})
Description: Online documentation for the Helma web framework.
 .
 Helma is an open-source JavaScript framework written in Java.
 It uses the Mozilla Rhino JavaScript engine to provide
 a comprehensive framework for web application development.
 .
 This package contains the online documentation, including Java
 and JavaScript API documentation.

